 ┌────────────────────────────────────────────────────────────────────────────────────────────────┐
 │$StringUtils.center("Daily Metrics", 96)│
 ├────────────────────────────────────────────────────────────────────────────┬───────────────────┤
 #foreach($value in $data.metricResult.get(2).metricValues)
 │ $StringUtils.rightPad($value.description, 74) │$StringUtils.leftPad($value.formattedValue, 18) │
 #end
 └────────────────────────────────────────────────────────────────────────────┴───────────────────┘
