 ┌────────────────────────────────────────────────────────────────────────────────────────────────┐
 │$StringUtils.center($minedData.get(0).metricResult.get(0).metricName.get(), 96)│
 ├────────────────────────────────────────────────────────────────────────────────────┬───────────┤
 │                                   Description                                      │  Usage %  │
 ├────────────────────────────────────────────────────────────────────────────────────┼───────────┤
#foreach($value in $minedData.get(0).metricResult.get(0).metricValues)
 │ $StringUtils.rightPad($value.description, 82) │ $StringUtils.leftPad($value.formattedValue, 9) │
#end
 └────────────────────────────────────────────────────────────────────────────────────┴───────────┘