 ┌────────────────────────────────────────────────────────────────────────────────────────────────┐
 |$StringUtils.center("Total Cost", 96)│
 ├────────────────────────────────────────────────────────────────────────────────────────────────┤
 |  $StringUtils.leftPad($data.metricResult.get(0).metricValues.get(0).formattedValue,93) |
 └────────────────────────────────────────────────────────────────────────────────────────────────┘
